@import 'reset';

html {
  font-size: 10px;
}

body {
  background: rgb(251, 251, 250);
  font-size: 2rem;
  line-height: 3.2rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(100, 114, 119);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
  max-width: 1015px;
  padding: 0 15px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.Banner {
  background: #1a5161;
  background-image: linear-gradient(
    -38deg,
    transparent,
    transparent 48%,
    rgba(255,255,255,0.03) 48%
  );
  color: rgb(251, 251, 250);
  margin-bottom: 6rem;
}

.Nav {
  $height: 8rem;

  height: $height;
  line-height: $height;

  .logo {
    font-size: 2.8rem;
    letter-spacing: -0.8px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    span {}
  }

  ul {
    float: right;
    list-style: none;
    white-space: nowrap;
    text-decoration: none;

    li {
      display: inline-block;
      padding-left: 6rem;
      font-size: 1.6rem;
      font-weight: bold;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}


.Hero {
  padding: 6rem 0;
  border-bottom: 2rem solid rgba(0,0,0,0.08);
  text-align: center;
  height: 35rem;

  h1 {
    font-size: 3.4rem;
  }
}

.EventDisplay {
  iframe {
    width: 100%;
    height: 800px;
  }
}

.Footer {
  margin-top: 16rem;
  height: 28rem;
  background: #184b59;
  border-top: 8rem solid #255260;
}

.Uploader {
  $size: 128px;
  $padding: 10px;

  width: $size;
  height: $size;
  padding: $padding;
  margin: 10px;

  border: 2px dashed currentColor;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    color: rgb(127, 146, 153);
  }
  &.active {
    color: rgb(91, 196, 127);
  }
  &.invalid {
    color: rgb(193, 56, 80);
  }

  svg {
    height: 100%;
    width: 100%;
    fill: currentColor;
  }
}

.TemplatePage {
  pre {
    font-size: 1.6rem;
  }
}

[class^="icon-"], [class*=" icon-"] {
  height: 64px;
  width: 64px;
  display: inline-block;
  fill: currentColor;
}
