.columns {
  display: flex;
  justify-content: space-between;
}

section {
  width: 48%;
  min-width: 40rem;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

.presenters {
  list-style: none;
  padding: 0;
}

img {
  height: 18rem;
}

@media only screen and (max-width: 840px) {
  .columns {
    justify-content: center;
    flex-flow: column;
  }
  section {
    margin: 0 auto 40px auto;
  }
}
